<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	">


	<!-- User Access Permision -->
	
	
	<http auto-config="true">
		<access-denied-handler error-page="/403" />
		
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" default-target-url="/"
			username-parameter="username" password-parameter="password"
			authentication-failure-url="/login" />
		<logout logout-success-url="/" />
		<csrf disabled="true" />


		<csrf disabled="true" />
	</http>

	<!-- Role Based Authentication using jdbc -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select email,password, enabled from user where email=?"
				authorities-by-username-query="select email, role from user where email =?  " />
		</authentication-provider>
	</authentication-manager>

</b:beans>